body{
    margin: 0;
    padding-top: 1em;
    overflow-x: hidden;
}
.flex{
    display: flex;
    gap: 2rem;
}
/* primary header*/
.logo{
    margin: 2rem;
}
.primary-header{
    align-items: center;
    justify-content: space-between;
}
.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsla(0, 0%, 100%, 0.3);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
li a{
    font-size: 20px;
    text-decoration: none;
    font-family: Impact, fantasy;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;

    transition: all 0.20s ease-in;
}
li a:hover{
    border-bottom: 3px solid white;
    color: black;
}
.logo{
    font-size: 70px;
    text-decoration: none;
    font-family: Impact, fantasy;
    text-transform: uppercase;
    color: white;
    margin-left: 70px;
}
.mobile-nav-tag{
    display: none;
}

.intro{
    margin: 0;
    background-image: url(brush.png);
    background-repeat: no-repeat;
    background-size: 50em;
    background-attachment: local;
    position: absolute;
    top: 130px;
    left: 100px;
    right: 0;
    padding: 40px;
    overflow: hidden;
}
.beginning{
    margin-left: 70px;
    padding-left: 40px;
    font-size: 27px;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
}
h1{
    margin-left: 70px;
    padding-left: 40px;
    font-size: 40px;
    font-family: 'Source Serif Pro', serif;
}

.in{
    text-align: center;
    word-break: break-word;
    width: 400px;
    float: right;
    margin-top: 170px;
    margin-right: 4%;
    font-family:'Source Serif Pro', serif;
}

.intro1, .intro2{
    font-size: 21px;
    padding: 10px 0 10px 100px;
}
.link{
    text-decoration: none;
    color: #e9ccce;
    font-weight: bold;
    font-family:'Source Serif Pro', serif;
    font-size: 32px;
    padding: 13px 50px;
    position: relative;
    margin-left: 100px;
}
.link::before, .link::after{
    background-color: hsla(0,0%,100%,0.5);
    border: 2px solid black;
    content: '';
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    border-radius: 20px;
}
.link:hover::after{
     transform: translate(-5px, -5px);
}
.link:hover::before{
    transform: translate(5px, 5px);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation{
        background: rgba(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
    }
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-tag {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background: url(icons8-menu-30.png);
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-tag[aria-expanded='true'] {
        background-image: url(icons8-close-24.png);
    }

    .intro{
        margin: 20px 0 0 0;
        width: 700px;
        left: 210px;
        padding: 200px 0 180px 0;
    }

    .beginning {
        margin-left: 40px;
        top: 50px;
        position: absolute;
        font-size: 23px;
    }

    h1 {
        background-size: 200%;
        width: 200px;
        height: 100%;
        margin-left: 40px;
        position: absolute;
        top: 92px;
        word-break: break-word;
        font-size: 30px;
    }
    .in{
        text-align: center;
        word-break: break-word;
        width: 400px;
        margin-top: 250px;
        margin-right: 4%;
        font-family:'Source Serif Pro', serif;
    }

    .intro1, .intro2{
        font-size: 17px;
        padding: 10px 0 10px 130px;
    }
    .link{
        margin-left: 130px;
    }
    .logo {
        margin: 2rem;
        font-size: 3.5em;
    }
}

@media (min-width: 35em) {
    .primary-navigation{
        --gap: 2rem;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
    }
}


/* BACKGROUNDS */
/* home */
body {
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
}
.home, .contact{
    background-image: url(pexels-lumn-39916_m.jpg);
}
.about, .projects{
    background-image: url(pexels-lumn-39916_mm.jpg);
}

@media (min-width: 35rem) {
    .home, .contact {
        background-position: center center;
        background-image: url(pexels-lumn-39916_m.jpg);
    }
    .about, .projects{
        background-image: url(pexels-lumn-39916_mm.jpg);
    }
}
@media (min-width: 45rem) {
    .home, .contact{
        background-image: url(pexels-lumn-39916_h2.jpg);
    }
    .about, .projects{
        background-image: url(pexels-lumn-39916_hh.jpg);
    }
}

@media (min-width: 35em) and (max-width: 45em) {
    .intro {
        background-image: url(brush.png);
        background-attachment: local;
        background-size: 120%;
        margin: 40px 10% 0 0;
        width: 700px;
        left: 300px;
        padding: 400px 0 180px 0;
    }
    .beginning {
        margin: 0 0 0 60px;
        position: absolute;
        top: 60px;
        font-size: 25px;
    }

    h1 {
        width: 200px;
        margin: 0 0 0 60px;
        position: absolute;
        top: 110px;
        word-break: break-word;
        font-size: 36px;
    }
    .in{
        text-align: center;
        word-break: break-word;
        width: 400px;
        margin-top: 250px;
        margin-right: 6%;
        font-family:'Source Serif Pro', serif;
    }

    .intro1, .intro2{
        font-size: 19px;
        padding: 10px 0 10px 100px;
    }

}
